body{
  font-family: 'Helvetica';
  background-color: #FFD401;
}

h1{
  text-align: center;
  margin-bottom: 2em;
  color: white;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

video{
  display: block;
  margin: 6em auto 2em auto;
  /* border: 4px solid black; */
}

.button-block{
  width: fit-content;
  display: inline-block;
  margin: 0 1em;
}

.button-block button{
  /* margin-right: 1em; */
  border: none;
  background-color: lightgrey;
  padding: 1em 2em;
  border-radius: .2em;
  margin-bottom: 1em;
  background: #D91668;
  color: white;
  border: 1px solid #352E4D;
  font-size: 14px;
  font-weight: 400;
  margin: 1em auto;
  display: block;
}

.training-section{
  width: 90%;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.buttons-section{
  width: fit-content;
  margin: 0 auto;
}

.examples-text{
  color: #352E4D;
}

.start-prediction, .test-predictions{
  text-align: center;
  margin: 0 1em;
  display: block;
  background: white;
  width: fit-content;
  padding: 1em;
  border-radius: 4px;
  text-decoration: none;
  background:  #352E4D;
  color: white;
  border: none;
  font-size: 14px;
}

.predictions-buttons{
  width: fit-content;
  margin: 2em auto;
  justify-content: center;
  align-items: center;
  display: flex;
}


.no-display{
  display: none;
}

.interaction-block{
  width: 45%;
  display: none;
  vertical-align: middle;
  margin: 0 auto;
}

.keyboard{
  text-align: center;
  border: 3px solid black;
  border-radius: 4px;
  padding: 1em;
  background: #352E4D;
}

.keyboard .letter{
  margin-bottom: .5em;
}

.keyboard .space{
  padding: 0 2em;
  padding: 0 2em;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin: 0 auto;
}

.letter p{
  font-size: 20px;
}

.keyboard, .message-section{
  display: block;
  width: 90%;
  border-radius: 4px;
  border: 3px solid black;
}

.keyboard{
  margin: 0 auto;
}

.message-section{
  height: 100px;
  margin: 5em auto;
}

.message-section input{
  height: 100%;
  font-size: 16px;
}

.keyboard div{
  display: inline-block;
  width: 4em;
  height: 4em;
  background-color: white;
  text-align: center;
  font-size: 14px;
  border-radius: .2em;
  /* border: 3px solid #D91668; */
}

.keyboard div.selected{
  background: rgb(136, 118, 199);
  color: white;
}

.message-input{
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 1em;
  min-height: 60px;
  margin-bottom: 2em;
}


.display{
  display: block;
}


@media (max-width: 450px){
  .interaction-block{
    width: 95%;
  }

  .message-section{
    margin-bottom: 2em;
    margin-top: 0;
  }

  .keyboard div{
    width: 3em;
    height: 3em;
  }

  .letter p{
    font-size: 1.2em;
  }
}
