.keyboard{
  display: block;
  width: 60%;
  margin: 0 auto;
}

.keyboard div{
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: lightgrey;
  text-align: center;
  font-size: 14px;
}

.keyboard div.selected{
  font-size: 20px;
}
