body{
  font-family: 'Helvetica';
  background-color: #FFD401;
}

h1{
  text-align: center;
  margin-bottom: 2em;
  color: white;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.start{
  display: block;
}

.interaction-block{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.keyboard{
  text-align: center;
  border: 3px solid black;
  border-radius: 4px;
  padding: 1em;
  background: #352E4D;
}

.keyboard .letter{
  margin-bottom: .5em;
}

.letter p{
  font-size: 16px;
}

.keyboard, .message-section{
  display: block;
  width: 90%;
  margin: 0 auto;
}

.keyboard div{
  display: inline-block;
  width: 3em;
  height: 3em;
  background-color: white;
  text-align: center;
  font-size: 14px;
  border-radius: .2em;
  /* border: 3px solid #D91668; */
}

.keyboard div.selected{
  background: rgb(136, 118, 199);
  color: white;
}

video{
  display: block;
  margin: 0 auto;
}

.button-block{
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.button-block button{
  display: inline-block;
  margin-right: 1em;
  border: none;
  background-color: lightgrey;
  padding: 1em 2em;
  border-radius: .2em;
  margin-bottom: 1em;
}

.button-block .examples-text{
  display: inline-block;
}

.training-section{
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

.message-input{
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 1em;
  min-height: 60px;
  margin-bottom: 2em;
}
